a {
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

img {
	display: block;
	max-width: 100%;
}

.hr {
	display: block;
	height: 2px;
	width: 100%;
	background-color: #ffffff;
}

.centering {
	display: flex;
	&--vert {
		align-items: center;
	}
	&--hori {
		
	}
}

.full-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}