.intro {
	&__container {
		margin-top: 80px;
		height: calc(100vh - 80px);
		& > * {
			line-height: 1;
		}
	}
	&__row {
		height: 100%;
	}
	&__initials {
		float: right;
	}
	&__text-icon {
		width: 50px;
		display: inline-block;
		margin: 0 5px;
	}
	&__text-name {
		font-size: 2em;
		margin: 0;
		padding-left: 5px;
		display: inline-block;
		vertical-align: middle;
	}
	&__text-date {
		font-size: 5em;
		margin: 0;
		color: #ffffff;
	}
	&__text-guest {
		font-size: 5em;
		padding-left: 10px;
		margin: 15px 0 0;
		color: #ffffff;
		font-family: 'Mr De Haviland', cursive;
	}
	&__text-additional {
		margin-top: 15px;
		font-size: 16px;
		color: #ffffff;
		strong {
			color: #333333;
		}
	}
}

@media only screen and (min-width: 769px) {
	.intro {
		&__row .col-md-6 {
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}
	
@media only screen and (max-width: 768px) {
	.intro {
		&__container {
			display: block;
			margin-top: 65px;
			height: calc(100vh - 65px);
			&--info {
				text-align: center;
				font-size: 10px;
			}
		}
		&__initials {
			float: none;
			width: 90%;
			margin: 0 auto 30px;
		}
		&__text-name,
		&__text-guest {
			padding-left: 0;
		}
	}
}

@media only screen and (max-width: 420px) {
	.intro {
		&__container {
			margin-top: 50px;
			height: calc(100vh - 50px);
		}
		&__initials {
			width: 65%;
		}
		&__text-additional strong {
			display: none;
		}
	}
}

@media only screen and (max-width: 375px) {
	.intro {
		&__initials {
			width: 65%;
		}
	}
}