.intro {
    &__container {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    &__cutout {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
		display: flex !important;
		justify-content: center;
		align-items: center;
		&-bg {
			width: 420px;
			max-width: 70%;
			display: block;
		}
        &-img {
			position: relative;
            display: block;
            width: 480px;
			max-width: 80%;
            &--middle {
                left: 5px;
            }
            &--bottom {
                top: 15px;
                left: 5px;
            }
        }
    }
	&__names {
		position: relative;
		font-family: 'Zeyada', cursive;
		font-size: 10em;
		&--groom {
			left: -350px;
		}
		&--bride {
			left: 400px;
		}
	}
}