.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	border: 0;
	margin: 0;
}

.nav {
	display: flex;
	align-items: center;
	min-height: 80px;
	&__icon {
		&-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 80px;
			height: 80px;
			background-color: #333333;
			&:hover {
				.nav__brand {
					opacity: 1;
					height: 8px;
				}
			}
		}
		width: 50px;
	}
	&__brand {
		font-weight: 100;
		color: #ffffff;
		font-size: 8px;
		margin-top: 5px;
		opacity: 0;
		height: 0;
		transition: opacity 0.5s, height 0.5s;
	}
	&__list {
		padding: 15px;
		color: #333333;
		font-weight: bold;
		font-size: 1.25em;
		margin-left: 20px;
		box-shadow: inset 0 0 0 0 #333333;
		transition: all 0.4s ease-in-out 0s;
		&:hover,
		&:active {
			color: #ffffff;
			box-shadow: inset -300px 0 0 0 #333333;
		}
	}
	&--right {
		position: absolute;
		right: 0;
	}
}

@media only screen and (max-width: 767px) {
	.nav {
		&__icon-wrapper {
			display: none;
		}
		&__list {
			font-size: 1em;
			margin: 0 10px;
		}
		&--right {
			position: absolute;
			right: 0;
			left: 0;
			display: flex;
			justify-content: space-around;
		}
	}
}