.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	border: 0;
	margin: 0;
}

.nav {
	display: flex;
	align-items: center;
	&__toggle {
		display: none;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		font-size: 2em;
		width: 65px;
		height: 65px;
		background-color: #333333;
		color: #ffffff;
		cursor: pointer;
		&:hover,
		&:focus,
		&:active {
			color: #ffffff;
		}
		&-close.fa {
			display: none;
		}
		&-open.fa {
			display: block;
		}
	}
	&__icon {
		&-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 80px;
			height: 80px;
			background-color: #333333;
			&:hover {
				.nav__brand {
					opacity: 1;
					height: 8px;
				}
			}
		}
		width: 50px;
	}
	&__brand {
		font-weight: 100;
		color: #ffffff;
		font-size: 8px;
		margin-top: 5px;
		opacity: 0;
		height: 0;
		transition: opacity 0.5s, height 0.5s;
	}
	&__list {
		padding: 15px;
		color: #333333;
		font-weight: bold;
		font-size: 1.25em;
		margin-left: 20px;
		&:hover,
		&:active,
		&:focus {
			color: #333333;
		}
	}
	&--right {
		position: absolute;
		right: 0;
	}
}

body.mobile-nav-open .nav__toggle {
	&-open.fa {
		display: none;
	}
	&-close.fa {
		display: block;
	}
}

@media only screen and (max-width: 768px) {
	.nav {
		&__icon-wrapper {
			display: none;
		}
		&__list {
			display: block;
			font-size: 1.5em;
			margin: 0 10px;
		}
		&--right {
			top: 80px;
			width: 57.5%;
			text-align: center;
			position: absolute;
			right: 0;
			left: 0;
			justify-content: space-around;
			opacity: 0;
			left: -20px;
			display: none;
		}
		&__toggle {
			display: flex;
		}
	}
}

@media only screen and (max-width: 420px) {
	.nav {
		&__list {
			font-size: 1em;
		}
		&__toggle {
			width: 50px;
			height: 50px;
			font-size: 1.25em;
		}
	}
}

@media only screen and (min-width: 769px) {
	.nav {
		&--right {
			left: auto !important;
		}
		&__list {
			box-shadow: inset 0 0 0 0 #333333;
			transition: all 0.4s ease-in-out 0s;
			&:hover,
			&:active {
				color: #ffffff;
				box-shadow: inset -300px 0 0 0 #333333;
			}
		}
	}
}