/*!
    Title: Vertical-Timeline
    Version: 2.0.0
    Last Change: 04/30/17
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/vertical-timeline
    Issues: https://github.com/RyanFitzgerald/vertical-timeline/issues
	LICENSE: MIT
*/

.vtimeline {
	position: relative;
	padding: 30px;
	overflow: hidden;
}

.vtimeline:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 4px;
	background: #FFC519;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.vtimeline-point {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
}

.vtimeline-icon {
	position: absolute;
	top: 10px;
	height: 25px;
	width: 25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 50%;
	background: #FFC519;
}

.vtimeline-block {
	width: 45%;
	margin: 0;
	transition: 0.5s ease all;
}

.vtimeline-block:after {
	content: '';
	position: absolute;
	top: 13px;
	left: 45%;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #333333;
	border-right: none;
}

.vtimeline-right {
	margin-left: 55%;
}

.vtimeline-right.vt-animate-slide .vtimeline-content {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.vtimeline-right .vtimeline-date {
	left: auto;
	right: 55%;
}

.vtimeline-right:after {
	left: auto;
	right: 45%;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: none;
	border-right: 10px solid #333333;
}

.vtimeline-date {
	position: absolute;
	left: 55%;
	top: 15px;
	font-weight: bold;
}

.vtimeline-content {
	padding: 15px;
	background: #333333;
	transition: 0.5s ease all;
	color: #ffffff;
}

.vt-animate-fade {
	opacity: 0;
}

.vt-animate-slide {
	opacity: 0;
}

.vt-animate-slide .vtimeline-content {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.vt-noarrows:after {
	content: none;
}

.timeline {
	&-container .intro__text-date {
		color: #333333;
	}
	&__icon {
		margin: auto;
		width: 50px;
	}
	&__title {
		margin-top: 10px;
		text-align: center;
	}
	&__panel--left .fixed-content {
		position: fixed;
	}
	&__memories {
		background-color: #ffc519;
		position: relative;
		z-index: 999;
		padding: 50px 0;
	}
}

.memories {
	&__img {
		width: 100%;
		&-wrapper {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 30px;
    bottom: 15px;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 30px;
    border: 3px solid #333333;
}

.scroll-top .btn:focus {
    outline: 0;
}

@media only screen and (max-width: 992px) {
	.vtimeline:before {
		left: 30px;
		right: auto;
		margin: 0;
	}
	.vtimeline-icon {
		left: -10px;
		right: auto;
		margin: 0;
	}
	.vtimeline-block {
		width: 90%;
		margin-left: 10%;
	}
	.vtimeline-block:after {
		left: auto;
		right: 90%;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: none;
		border-right: 10px solid #333333;
	}
	.vtimeline-date {
		position: relative;
		display: block;
		top: 0;
		left: 0;
		right: auto;
		background: #333333;
		color: #ffffff;
		padding: 15px 15px 0 15px;
		text-align: center;
	}
	.vtimeline-right .vtimeline-date {
		right: auto;
	}
	.vtimeline.basic .vtimeline-date {
		padding: 10px 10px 0 10px;
	}
	.vt-animate-slide .vtimeline-content {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	.timeline {
		&-container .intro__text-date {
			color: #FFC519;
   			margin-bottom: -11px;
		}
		&__panel--left .fixed-content {
			position: relative;
			padding: 0 10px;
		}
		&__img {
			width: 100%;
		}
	}
}
